<%- include('../layouts/adminheader') %>

<div class="container">
    <h1 class="page-title">Edit <%= category.title %></h1>
    
    <form action="/admin/categories/edit-category/<%=category.id%>?_method=PUT" method="POST" class="formValidation" novalidate>
        <div class="form-group">
          <label for="title">Title</label>
          <input type="text" class="form-control" id="title" name="title" placeholder="Title" value="<%= category.title %>" required>
        </div>
        <button class="btn btn-primary">Submit</button>
    </form>
</div>


<%- include('../layouts/adminfooter') %>
