<%- include('./layouts/header') %>


<div class="container-fluid">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Fluid jumbotron</h1>
          <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <% for(let pro of product) { %>
            <div class="col-12 col-md-3" style="margin-bottom: 20px;">
                <div class="card">
                    <% if(pro.images == '') { %>
                        <img src="/images/noimage.png" alt="product image" style="height: 200px;">
                    <% } else { %>    
                        <img src="<%=pro.images[0].url%>" alt="product image" style="height: 200px;">
                    <% } %>    
                    <div class="card-body">
                      <h5 class="card-title"><%=pro.title%></h5>
                      <em class="pull-left">&#x20B9;<%= pro.price %></em><hr>
                      <a href="/products/<%= pro.category %>/<%= pro.slug %>" class="btn btn-primary btn-block">More Info</a>
                    </div>
                </div>
            </div>
        <% } %>   
    </div>
</div>


<%- include('./layouts/footer') %>
